/* Write your CSS here */
* {
  margin: 0px;
}
.images {
  height: 200px;
  width: 150px;
  margin-bottom: 10px;
}
.sm-img {
  height: 25px;
  width: 25px;
}
.list {
  background-color: #f8f8ff;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.para {
  margin-left: 5px;
  color:#1e293b;
}
.name {
  font-size: 20px;
  color: #e73959;
  margin-bottom: 5px;
}
